<% include partials/header %>

<div class="container">
    <header class="jumbotron">
    <div class="container">
        <h1>Welcome to Yelpcamp</h1>
        <p>View our hand-picked campgrounds from al over the world!</p>
        <p>
            <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add New Campground</a>
        </p>
    </div>
    </header>

    <div class="row">
        <div class="col-lg-12">
            <h3>Our popular campgrounds</h3>
        </div>
        <% campgrounds.forEach((campground)=>{ %>
            <div class="figure col-md-3 col-sm-6">
                <div class="figure-img img-fluid rounded">
                    <img src="<%=campground.image %>" width="100%">
                    <div class="figure-caption">
                        <h4><%= campground.name %></h4>
                    </div>
                </div>
            </div>
        <% }); %>    
    </div>
</div>

<% include partials/footer %>
